@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-font: 'Muli', sans-serif;
$color-primary:     #62bdee;
$color-secundary:   #f1a541;
$color-pink:        #c13669;
$color-blue-dark:   #376494;
$color-light:       #f8f9f9;